/*---------------
  Partner-area
----------------*/
#partner{
	width:100%;
	background:#fff;
	padding:60px 0 55px;
}
.jcarousel-wrapper{
	position:relative;
	margin:20px auto;
	border:10px solid #fff;
	border-radius:5px;
}
.jcarousel{
	position:relative;
	width:100%;
	overflow:hidden;
}
.jcarousel ul{
	position:relative;
	width:20000em;
	margin:0;
	padding:0;
	list-style:none;
}
.jcarousel li{
	width:200px;
	float:left;
	border:1px solid #fff;
	box-sizing:border-box;
}

.jcarousel img{
	display:block;
	max-width:100%;
	height:auto !important;
}
/*---------------
  Subscribe-area
----------------*/
#subscribe{
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:cover;
	width:100%;
	background:#f4f4f4;
	padding:60px 0 55px;
}
#subscribe h3{
	margin-top:5px;
	font-size:32px;
	text-transform:uppercase;
}
.input-group{
	margin-top:20px;
}
