<section class="portfolio">
	    <div class="container">     
			<div class="row"> 
			    <div class="col-lg-12">
			        <h2 class="section-heading-area">My Lastest Work</h2>
                    <hr class="primary">	
			    </div>
			</div>
            <div class="row text-center">			
			    <div class="col-md-4 col-sm-6 port">
			        <a href="#"><img src="assets/images/website-demo1.jpg" class="img-responsive"></a>
					<h3>Super Nova</h3>
			    </div>
			    <div class="col-md-4 col-sm-6 port">
			        <a href="#"><img src="assets/images/website-demo2.jpg" class="img-responsive"></a>
					<h3>Interior Design</h3>
			    </div>
	            <div class="col-md-4 col-sm-6 port">
			        <a href="#"><img src="assets/images/website-demo3.jpg" class="img-responsive"></a>
					<h3>Insurances</h3>
			    </div> 
                <div class="col-md-4 col-sm-6 port">
			        <a href="#"><img src="assets/images/website-demo4.jpg" class="img-responsive"></a>
					<h3>logos</h3>
			    </div>
                <div class="col-md-4 col-sm-6 port">
			        <a href="#"><img src="assets/images/website-demo5.jpg" class="img-responsive"></a>
					<h3>Marketing</h3>
			    </div>
                <div class="col-md-4 col-sm-6 port">
			        <a href="#"><img src="assets/images/website-demo6.jpg" class="img-responsive"></a>
			        <h3>Tomorrow</h3>
				</div>				
	        </div>
        </div>			
	</section>
	<button [ngStyle]="{color: status ? 'red' : 'green' }" class="btn btn-primary" (click)="personName()">Click me</button>
